* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: black;
}

.header-class {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  background-color: rgb(28, 79, 198);
}

.nav-bar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  list-style: none;
}

.nav-bar-links a {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.products-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1.5rem;
  gap: 1.5rem;
}

.filter-products-section {
  display: flex;
  flex-direction: column;
}

.filter-boxes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filter-boxes h3 {
  font-size: 2.5rem;
}

.selection-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  background-color: grey;
  padding: 1rem;
  width: 100%;
}

.product-info img {
  width: 100%;
  max-width: 150px;
  min-height: 150px;
}

.product-info p {
  font-size: 1.5rem;
}

.product-info button {
  width: 100%;
  font-size: 1.5rem;
}

.summary-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(226, 220, 220);
  border-radius: 20px;
}

.summary-headings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.summary-headings h2 {
  font-size: 2.5rem;
  background-color: rgb(46, 46, 196);
  padding: 0.5rem;
  width: 100%;
  border-radius: 10px;
}

.summary-headings h3 {
  text-align: start;
  padding: 0.5rem;
  font-size: 2rem;
}

.cart-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}

.product-paragraph {
  display: flex;
  text-align: start;
}

.added-products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.added-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}

.added-product img {
  width: 100%;
  max-width: 90px;
}